page-confirmation {

    ion-content{
        justify-content: center;
        text-align: center;
        background: url("../../assets/imgs/aboutHotel3.jpg");
        background-position: center;
    }

    ion-label{
        justify-content: center;
        text-align: center;
    }

    .list{
        border-radius:50px 10px;
        font-size: 1.3em;
        margin-top: 0;
        box-shadow: 0 0 15px 5px rgb(187, 151, 6);
    }
    
    span{
        color: blue;
    }

}
