page-chalet-view {

    ion-header{
        justify-content: center;
        text-align: center;
        height:7vh;
    }

    ion-content{
        justify-content: center;
        text-align: center;
        font-size: 1.3em;
    }
    .imgs{
        width: 100%;
        margin-top: -8px;
        height: 25vh;
    }

    .cards{
        font-size: 1.3em;
        margin-top: 0;
        height: 48vh;
        box-shadow: 0 0 15px 5px rgb(187, 151, 6);
    }
}
