page-reservations {
    ion-item{
        text-align: center;
    }

    ion-header{
        text-align: center;
    }

    .h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:1.5em;
    }

    .card{
        text-align: center;
        color: black;
        font-size: 1em;
        margin-bottom: 7%;
        border-radius: 50px 20px;
        opacity: 0.97; 
        box-shadow: 0 0 15px 5px rgb(221, 225, 4);
    }

    .p{
        color: rgb(0, 0, 0);
        font-size:18px;

    }

    .h3{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2{
        font-size:1.5em;
    }

ion-content{
    background: url("../../assets/imgs/aboutHotel3.jpg");
    background-position: center;
}

span{
   color:rgb(0, 38, 255); 
}
}
